ion-content {
    --background: #f2f2f2; /* Cor de fundo */
    display: flex; /* Ativa o flexbox */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 100%; /* Ocupa toda a altura da tela */
  }

  /* Estilo para a mensagem de sucesso */
.success-message {
    font-size: 16px; /* Tamanho da fonte */
    color: #4bb874; /* Cor verde para sucesso */
    font-weight: bold; /* Negrito */
    text-align: center; /* Centraliza o texto */
    margin-top: 20px; /* Espaçamento superior */
  }
  
  
  .gray-container {
    background-color: rgba(200, 200, 200, 0.5); /* Cor de fundo cinza */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    width: 90%; /* Largura do contêiner */
    max-width: 400px; /* Largura máxima do contêiner */
  }
  
  .logo-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
  }
  
  .logo {
    max-width: 50%; /* Limita a largura máxima da logo */
    height: auto; /* Mantém a proporção da logo */
    margin-right: 50px; /* Margem direita */
  }
  
  .centered-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    height: 100%; /* Ocupa toda a altura */
    padding: 0 20px; /* Ajusta o espaço lateral */
  }
  
  .custom-list {
    width: 100%; /* Faz a lista ocupar toda a largura */
    max-width: 400px; /* Limita a largura máxima para a lista */
    margin: 200px auto; /* Margem superior */
  }
  
  .custom-list ion-item {
    --border-color: transparent; /* Remove a borda do item */
    border-bottom: none; /* Remove a borda inferior */
    --background: transparent; /* Garante que o fundo do item seja transparente */
    border-radius: 8px; /* Bordas arredondadas */
  }
  
  .custom-list ion-item:after {
    display: none; /* Remove a linha abaixo do item */
  }
  
  .custom-list ion-item:hover {
    --background: transparent; /* Cor de fundo dos itens ao passar o mouse */
  }
  
  ion-label {
    font-weight: bold; /* Deixa a fonte em negrito */
    font-size: 16px; /* Ajusta o tamanho da fonte */
    color: #000000; /* Cor do texto */
  }
  
  ion-input {
    margin-top: 25px; /* Margem superior */
    --background: #ffffff; /* Fundo branco */
    --color: #000000; /* Cor do texto */
    position: relative; /* Necessário para o posicionamento do ícone */
  }
  
  .input-item {
    position: relative; /* Necessário para o posicionamento absoluto do ícone */
  }
  
  .custom-login-button {
    --background: #4bb874; /* Cor de fundo verde */
    --color: #ffffff; /* Cor do texto branco */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 12px 16px; /* Espaçamento interno */
    text-transform: none; /* Remove a caixa alta */
  }
  
  .custom-login-button:hover {
    --background: #45aa6c; /* Cor de fundo verde mais escuro ao passar o mouse */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
    transition: transform 0.2s ease; /* Transição suave */
  }
  