<ion-content fullscreen class="custom-content centered-content">
  <ion-list class="custom-list gray-container">
    <div class="logo-container">
      <img src="/assets/img/invite-me.png" alt="Logo" class="logo" />
    </div>

    <ion-item class="input-item" *ngIf="!emailSent">
      <ion-input 
        [(ngModel)]="email" 
        label="Email" 
        label-placement="floating" 
        fill="outline" 
        placeholder="Digite seu Email" 
        type="email"
        required
        (ngModelChange)="emailInvalid = false">
      </ion-input>
    </ion-item>

    <ion-item *ngIf="emailInvalid">
      <ion-label color="danger">Por favor, insira um email válido.</ion-label>
    </ion-item>

    <ion-button 
      expand="block" 
      (click)="resetPassword()" 
      class="custom-login-button" 
      *ngIf="!emailSent">Enviar
    </ion-button>

    <!-- Mensagem de sucesso -->
    <ion-item *ngIf="emailSent" lines="none">
      <ion-label color="success" class="success-message">Email enviado com sucesso!</ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
