<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header-content">
        Bem-vindo, {{ name }}
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" class="logout-button">
        <ion-icon name="log-out-outline"></ion-icon> <!-- Ícone de logout -->
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="custom-content centered-content">
  <ion-list class="custom-list custom-content">
    <ion-item lines="none" style="justify-content: center;">
      <ion-avatar class="profile-avatar" (click)="presentActionSheet()">
        <img *ngIf="profilePicture" [src]="profilePicture" alt="Foto de Perfil" class="profile-image" />
        <ion-icon *ngIf="!profilePicture" name="person" class="profile-icon"></ion-icon>
      </ion-avatar>
    </ion-item>

    <ion-item class="input-item">
      <ion-input [(ngModel)]="name" label="Nome" label-placement="floating" fill="outline" placeholder="Digite o seu Nome"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-input [(ngModel)]="lastname" label="Sobrenome" label-placement="floating" fill="outline" placeholder="Digite o seu Sobrenome"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-input [(ngModel)]="cpf" label="CPF" label-placement="floating" fill="outline" placeholder="Digite seu CPF" (input)="formatCPF()"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-input [(ngModel)]="email" label="Email" label-placement="floating" fill="outline" placeholder="Digite seu Email" type="email"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-input [(ngModel)]="date" label="Data de Nascimento" label-placement="floating" fill="outline" placeholder="DD/MM/AAAA" (input)="formatDate()"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="changeUserData()" class="custom-save-button">Salvar Alterações</ion-button>
  </ion-list>

  <input type="file" id="fileInput" style="display: none;" (change)="selectNewProfilePicture($event)" accept="image/*" />

  <ion-modal [isOpen]="isZoomedImageModalOpen" (didDismiss)="closeZoomedImage()" class="zoomed-image-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Imagem Ampliada</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeZoomedImage()">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <img [src]="profilePicture" alt="Imagem Ampliada" class="zoomed-image" />
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
