ion-toolbar {
    --background: #4bb874; /* Cor do toolbar */
}

/* Estilizando o título */
ion-title {
    color: white; /* Cor do texto do título */
}


.logout-button {
    --color: #ffffff; /* Cor do texto em branco */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 8px 12px; /* Espaçamento interno */
    text-transform: none; /* Remove a caixa alta */
    font-size: 16px; /* Mantém o tamanho original do texto */
}

.logout-button ion-icon {
    font-size: 35px; /* Aumenta o tamanho do ícone (ajuste conforme necessário) */
    /* Espaçamento entre o ícone e o texto */
}

.logout-button:hover {
    --color: #38995d; /* Cor de fundo mais escura ao passar o mouse */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
    transition: transform 0.2s ease; /* Transição suave para o efeito de hover */
}


.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    height: 100%; /* Ocupa toda a altura do ion-content */
}

.custom-list {
    width: 100%; /* Faz a lista ocupar toda a largura */
    max-width: 400px; /* Limita a largura máxima para a lista */
    margin: auto; /* Centraliza a lista */
}

.custom-list ion-item {
    --border-color: transparent; /* Remove a borda do item */
    border-bottom: none; /* Remove a borda inferior */
    --background: transparent; /* Garante que o fundo do item seja transparente */
    border-radius: 8px; /* Bordas arredondadas, se desejado */
}

.custom-list ion-item:after {
    display: none; /* Remove a linha abaixo do item */
}

.custom-list ion-item:hover {
    --background: transparent; /* Cor de fundo dos itens ao passar o mouse */
}

.profile-avatar {
    width: 30vw;
    height: 30vw;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: 2px solid #4bb874;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    cursor: pointer;
    position: relative;
    transition: border 0.3s ease, transform 0.3s ease; /* Transição para a borda e transformações */
}

.profile-icon, .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Suave transição para a imagem ou ícone */
}

.profile-icon {
    color: #4bb874; /* Cor verde para o ícone */
    width: 90px; /* Definindo o tamanho para 90px */
    height: 90px; /* Para manter a proporção */
    transition: transform 0.2s ease; /* Transição suave no hover */
}

.profile-avatar:hover .profile-icon {
    transform: scale(1.1); /* Efeito de zoom no ícone ao passar o mouse */
}

.profile-avatar:hover .profile-image {
    transform: scale(1.1); /* Efeito de zoom na imagem quando alterada */
    opacity: 0.8; /* Leve opacidade ao passar o mouse na imagem */
}

.profile-avatar img {
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transição suave ao mudar a imagem */
}

.zoomed-image {
    width: 100%; /* Faz a imagem ocupar toda a largura do modal */
    height: 100%; /* Faz a imagem ocupar toda a altura do modal */
    object-fit: contain; /* Mantém a proporção da imagem */
}

.custom-popover ion-item {
    --background: #4bb874; /* Fundo verde para os itens do popover */
    --color: #ffffff; /* Texto branco */
    font-weight: bold; /* Texto em negrito */
}

.custom-popover ion-item:hover {
    --background: #38995d; /* Fundo um pouco mais escuro ao passar o mouse */
}

ion-list {
    margin-top: 70px; /* Margem superior da lista */
}

/* Estilo para ion-label */
ion-label {
    font-weight: bold; /* Deixa a fonte em negrito */
    font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
    color: #000000; /* Altere a cor do texto se necessário */
}

ion-input {
    margin-top: 25px;
    --background: #ffffff; /* Fundo branco para o campo de input */
    --color: #000000; /* Cor do texto */
}

::ng-deep ion-action-sheet {
    --background: #4bb874 !important; /* Fundo do action sheet */
}

::ng-deep ion-action-sheet .action-sheet-title {
    color: #ffffff !important; /* Texto branco nas opções */
}

::ng-deep ion-action-sheet .action-sheet-button {
    --background: #34495e !important; /* Fundo dos botões de opção */
    color: #ffffff !important; /* Texto branco nas opções */
}

::ng-deep ion-action-sheet .action-sheet-cancel {
    --background: #e74c3c !important; /* Fundo do botão "Cancelar" */
    color: #ffffff !important; /* Texto branco no botão "Cancelar" */
}

.custom-save-button {
    --background: #4bb874; /* Cor de fundo verde */
    --color: #ffffff; /* Cor do texto branco */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 12px 16px; /* Espaçamento interno */
    text-transform: none; /* Remove a caixa alta */
}

.custom-save-button:hover {
    --background: #45aa6c; /* Cor de fundo verde mais escuro ao passar o mouse */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
    transition: transform 0.2s ease; /* Transição suave para o efeito de hover */
}
